In [2]:
!pip install riotwatcher

Requirement already satisfied: riotwatcher in /opt/conda/envs/lightweight/lib/python3.7/site-packages (3.2.0)
Requirement already satisfied: requests in /opt/conda/envs/lightweight/lib/python3.7/site-packages (from riotwatcher) (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/envs/lightweight/lib/python3.7/site-packages (from requests->riotwatcher) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/lightweight/lib/python3.7/site-packages (from requests->riotwatcher) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/envs/lightweight/lib/python3.7/site-packages (from requests->riotwatcher) (2.0.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/envs/lightweight/lib/python3.7/site-packages (from requests->riotwatcher) (3.3)

In [3]:
from riotwatcher import LolWatcher, ApiError #
from pprint import pprint
from tqdm import tqdm #
import datetime
from contextlib import contextmanager


import pandas as pd #
import sys
import os
import csv
import pickle

import time

from collections import defaultdict

KST = datetime.timezone(datetime.timedelta(hours=9))

@contextmanager
def timer(name):
    t0 = time.time()
    yield
    print(f"[{name}] done in {time.time() - t0:.3f} s")
    
data_path = "./data"

## 1. 소환사 정보 가져오기

In [4]:
os.listdir(data_path)

['DIAMOND_II_puuids.csv',
 'DIAMOND_III_puuids.csv',
 'MASTER_I_puuids.csv',
 'Untitled.ipynb',
 'master_puidList',
 'Summoner_Info_2021_11_24_23h_29m_16s.csv',
 '.ipynb_checkpoints',
 'DIAMOND_I_puuids.csv']

In [5]:
for fileName in os.listdir(data_path):
    if "Summoner_Info" in fileName:
        summoner_df = pd.read_csv(os.path.join(data_path, fileName))
        break

### 1-1. 티어별 유저 수 확인

In [6]:
summoner_df

,tier,queue,division,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
0,CHALLENGER,RANKED_SOLO_5x5,I,p090Y0IkJgORbrNzTBOeKPFpvBcMIc1CtiVu7NDiU_cv0w,JustLikeThatKR,976,806,746,True,False,False,False
1,CHALLENGER,RANKED_SOLO_5x5,I,L0iHC8DjfxeGKk2r3BoqU2A8GHtzbWLIh5l1rmVxs9vg6Y...,검색 구글 제드팀,950,153,92,False,False,False,False
2,CHALLENGER,RANKED_SOLO_5x5,I,oiTkjcprSh4guOT-0TgHmAGhD9EWMuG2uopx_a7552_8SF8,Gen G Quid,949,1643,1565,True,False,False,False
3,CHALLENGER,RANKED_SOLO_5x5,I,LVTnRLyW-FVQ3u-l5KVNsyIuILOGIdm078ANJdib0mZvNLo,bao1,1227,383,302,False,False,False,False
4,CHALLENGER,RANKED_SOLO_5x5,I,01Wuh8h-kD-JJrF7WeLGPm2zRXBSqianWyEAJXK2WjcMLl...,Gotchaoflegends,1048,221,160,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
4914004,IRON,RANKED_SOLO_5x5,IV,-i3b9hLq05LzfGHTZ0inY_IPBkwHo8Am-Jvo6H2FmBNoSf0,아이언3부계정,34,24,79,False,False,False,False
4914005,IRON,RANKED_SOLO_5x5,IV,x96VYGPARvgYeCUh0RoJFSZLwIjwU_KB71I4Fd2_fAHb6d0,이건그레이새기야,94,127,166,False,False,False,False
4914006,IRON,RANKED_SOLO_5x5,IV,biGTp84JOkB0wGkZ1cKBozFT0-62E2S_XQ11LdGXHfBlChc,화북동김카사디안,35,36,57,False,False,False,False
4914007,IRON,RANKED_SOLO_5x5,IV,yLA0oQFm0kN9OH5NK6bHTpJ88ezFbKOS9oKmiB-a-UVBgyk,vlp loo,29,4,12,False,False,False,False
4914008,IRON,RANKED_SOLO_5x5,IV,WdX09cGrCdUUWpeeYXaDbR3TNm5YFo4-uuS1QJCtZ_XBQaQ,사이즈없어요,14,57,91,False,False,False,False

In [7]:
# 티어별 유저수
summoner_df.groupby('tier').count()

,queue,division,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
tier,,,,,,,,,,,
BRONZE,799661,799661,799661,799660,799661,799661,799661,799661,799661,799661,799661
CHALLENGER,300,300,300,300,300,300,300,300,300,300,300
DIAMOND,70241,70241,70241,70241,70241,70241,70241,70241,70241,70241,70241
GOLD,1628560,1628560,1628560,1628560,1628560,1628560,1628560,1628560,1628560,1628560,1628560
GRANDMASTER,700,700,700,700,700,700,700,700,700,700,700
IRON,67869,67869,67869,67869,67869,67869,67869,67869,67869,67869,67869
MASTER,6049,6049,6049,6049,6049,6049,6049,6049,6049,6049,6049
PLATINUM,628141,628141,628141,628141,628141,628141,628141,628141,628141,628141,628141
SILVER,1712488,1712488,1712488,1712488,1712488,1712488,1712488,1712488,1712488,1712488,1712488

In [8]:
# 티어 구간별 유저수
tiers = ['BRONZE', 'CHALLENGER', 'DIAMOND', 'GOLD', 'GRANDMASTER', 'IRON', 'MASTER', 'PLATINUM', 'SILVER']
for i, dfByTier in enumerate([summoner_df[summoner_df['tier']==tier] for tier in tiers]):
    print('='*100)
    print(tiers[i])
    display(dfByTier.groupby('division').count())
    print('='*100)

====================================================================================================
BRONZE

,tier,queue,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
division,,,,,,,,,,,
I,243996,243996,243996,243996,243996,243996,243996,243996,243996,243996,243996
II,241079,241079,241079,241079,241079,241079,241079,241079,241079,241079,241079
III,171347,171347,171347,171347,171347,171347,171347,171347,171347,171347,171347
IV,143239,143239,143239,143238,143239,143239,143239,143239,143239,143239,143239

====================================================================================================
====================================================================================================
CHALLENGER

,tier,queue,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
division,,,,,,,,,,,
I,300,300,300,300,300,300,300,300,300,300,300

====================================================================================================
====================================================================================================
DIAMOND

,tier,queue,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
division,,,,,,,,,,,
I,5688,5688,5688,5688,5688,5688,5688,5688,5688,5688,5688
II,8491,8491,8491,8491,8491,8491,8491,8491,8491,8491,8491
III,13429,13429,13429,13429,13429,13429,13429,13429,13429,13429,13429
IV,42633,42633,42633,42633,42633,42633,42633,42633,42633,42633,42633

====================================================================================================
====================================================================================================
GOLD

,tier,queue,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
division,,,,,,,,,,,
I,158556,158556,158556,158556,158556,158556,158556,158556,158556,158556,158556
II,278793,278793,278793,278793,278793,278793,278793,278793,278793,278793,278793
III,368780,368780,368780,368780,368780,368780,368780,368780,368780,368780,368780
IV,822431,822431,822431,822431,822431,822431,822431,822431,822431,822431,822431

====================================================================================================
====================================================================================================
GRANDMASTER

,tier,queue,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
division,,,,,,,,,,,
I,700,700,700,700,700,700,700,700,700,700,700

====================================================================================================
====================================================================================================
IRON

,tier,queue,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
division,,,,,,,,,,,
I,34649,34649,34649,34649,34649,34649,34649,34649,34649,34649,34649
II,19231,19231,19231,19231,19231,19231,19231,19231,19231,19231,19231
III,9284,9284,9284,9284,9284,9284,9284,9284,9284,9284,9284
IV,4705,4705,4705,4705,4705,4705,4705,4705,4705,4705,4705

====================================================================================================
====================================================================================================
MASTER

,tier,queue,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
division,,,,,,,,,,,
I,6049,6049,6049,6049,6049,6049,6049,6049,6049,6049,6049

====================================================================================================
====================================================================================================
PLATINUM

,tier,queue,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
division,,,,,,,,,,,
I,72086,72086,72086,72086,72086,72086,72086,72086,72086,72086,72086
II,70963,70963,70963,70963,70963,70963,70963,70963,70963,70963,70963
III,121379,121379,121379,121379,121379,121379,121379,121379,121379,121379,121379
IV,363713,363713,363713,363713,363713,363713,363713,363713,363713,363713,363713

====================================================================================================
====================================================================================================
SILVER

,tier,queue,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
division,,,,,,,,,,,
I,312721,312721,312721,312721,312721,312721,312721,312721,312721,312721,312721
II,421364,421364,421364,421364,421364,421364,421364,421364,421364,421364,421364
III,405467,405467,405467,405467,405467,405467,405467,405467,405467,405467,405467
IV,572936,572936,572936,572936,572936,572936,572936,572936,572936,572936,572936

====================================================================================================

In [9]:
# 중복 확인
len(summoner_df['summonerId']), len(set(summoner_df['summonerId']))

(4914009, 4914009)

## 2. 수집 정보 설정

In [14]:

riot_token = "RGAPI-2a6b99be-6e31-41ee-8f37-cdd2389ae608" # 토큰 넣어주세요. 수집 데이터가 많을 때는 재발급하고 넣어주세요

lol_watcher = LolWatcher(riot_token)
my_region = 'kr'

me = lol_watcher.summoner.by_name(my_region, 'hide on bush')
pprint(me)

{'accountId': 'i8-NWVUQrY8UdYFxEUo2e63TDHdtDB41zHB0ChLhM-hP',
 'id': 'GbesqslvywKBlcXQYhCvVnwN_tTJ3iL79zKeMawG15An9g',
 'name': 'Hide on bush',
 'profileIconId': 6,
 'puuid': 'AUZp_JY-Akey--Qg-b0B4cmcv75ZcUkL_yDrmebJuLmXhdNZRFhbf9KbZDckAPOpDAgo2K9fcJ4zrA',
 'revisionDate': 1638206759137,
 'summonerLevel': 508}

In [15]:
queue = "RANKED_SOLO_5x5"
queueId = 420 # "5v5 Ranked Solo games" ID -> https://static.developer.riotgames.com/docs/lol/queues.json

#tiers = ['DIAMOND', 'PLATINUM', 'GOLD', 'SILVER', 'BRONZE', 'IRON']
#top_tier = ["CHALLENGER", "GRANDMASTER", "MASTER"]
#divisions = ['I', 'II', 'III', 'IV']

targetTier = 'MASTER' # 티어 넣어주세요
targetDivision = 'I' # 구간 넣어주세요

In [16]:
def collectPuuid(summoner_df, targetTier, targetDivision):
    print(f'Collect Puuid')
    print(f'    Target tier : {targetTier} {targetDivision}')
    summonerNameList = summoner_df[(summoner_df.tier==targetTier) & (summoner_df.division==targetDivision)]['summonerName']
    puuids = []
    
    with timer(f'{targetTier} {targetDivision} : puuid'):
        for summonerName in tqdm(summonerNameList, file=sys.stdout):
            try:
                puuid = lol_watcher.summoner.by_name(my_region, summonerName)['puuid']
            except:
                continue
            puuids.append(puuid)
        
    print()
    return puuids

def collectMatchData(matchDataDict, puuidList, targetTier, targetDivision, continueArgs=None):
    if continueArgs is None: assert len(matchDataDict) == 0, "수집 완료된 Dict 입니다."
    print(f'Collect Match data')
    print(f'    Target tier : {targetTier} {targetDivision}')

    now = datetime.datetime.now(KST)
    
    with timer(f'{targetTier} {targetDivision} : Match Data'):
        
        if continueArgs is not None:
            puuids = puuidList[continueArgs[0]:]
            matchIdSet = continueArgs[1]
        else :
            puuids = puuidList[:]
            matchIdSet = set() # 중복 수집 방지
        
        data_cnt = sum(len(data) for data in matchDataDict.values())
        pbar = tqdm(puuids, file=sys.stdout, total=len(puuids))
        for puuid in pbar:
            
            if continueArgs is not None: 
                startIndex = continueArgs[2]
            else : 
                startIndex = 0
                
            count = 100

            while True:
                try: 
                    matchIdList = lol_watcher.match.matchlist_by_puuid('asia', puuid, start=startIndex, count=count, queue=queueId) # 매치 아이디 
                except ApiError as err: 
                    return matchDataDict, now, (puuidList.index(puuid), matchIdSet,  startIndex, err.response)

                if len(matchIdList) == 0: break

                for i, matchId in enumerate(matchIdList):
                    if matchId in matchIdSet: continue # 중복 수집 방지
                    matchIdSet.add(matchId)
                    
                    try:
                        matchData = lol_watcher.match.by_id('asia', matchId) # 매치 데이터
                    except ApiError as err:
                        return matchDataDict, now, (puuidList.index(puuid), matchIdSet, startIndex+i, err.response)
                    
                    version = matchData['info']['gameVersion']
                    matchDataDict[version].append(matchData)
                    
                    data_cnt += 1
                    pbar.set_description('    ' + f'current MatchData -> {data_cnt}개')
                    
                startIndex += count
                
            # return matchDataDict, now, None # 한명만 수집할 때
        
    print()
    return matchDataDict, now, None

## 3. 데이터 수집

In [201]:
puuidList = collectPuuid(summoner_df, targetTier, targetDivision)

Collect Puuid
    Target tier : MASTER I
100%|██████████| 6049/6049 [2:00:30<00:00,  1.20s/it]
[MASTER I : puuid] done in 7230.517 s

In [208]:
len(puuidList)

5654

In [203]:
# puuidList csv로 저장하기

puuids = ["puuids"]
with open(os.path.join(data_path, f"{targetTier}_{targetDivision}_puuids.csv"), "w") as f:
    writer = csv.writer(f, delimiter="\n")
    writer.writerow(puuids)
    writer.writerow(puuidList)

In [17]:
# csv 로드해서 puuidList 만들기

puuidList_data = []
with open(os.path.join(data_path, f"{targetTier}_{targetDivision}_puuids.csv"), "r") as f:
    reader = csv.reader(f)
    for row in reader:
        puuidList_data.append(row[0])
puuidList = puuidList_data[1:]

In [205]:
# master puuid pickle 로드하기

import pickle

with open(os.path.join(data_path, 'master_puidList'), 'rb') as f:
    puuidList = pickle.load(f)
    print('load list')

load list

In [18]:
puuidList = puuidList[:500]

In [19]:
puuidList[0]

'JaEtuZY_GiimRE5rhR6FyN3Cw3il-2qYOWtpb0lhiDpPRt2yjR94MBbtahWsTEbrGvweOUKtCOcmWQ'

In [20]:
len(puuidList)

500

In [21]:
# 처음부터 다시 수집하고 싶을 때 이 셀을 실행해 초기화해주세요
matchDataDict = defaultdict(list)
continueArgs = None

In [ ]:
# 에러가 발생해 중간에 멈추면 이 셀을 다시 실행해주세요 (토큰 문제시 재발급)
# 에러 코드 설명 : https://developer.riotgames.com/docs/portal

matchDataDict, now, continueArgs = collectMatchData(matchDataDict, puuidList, targetTier, targetDivision, continueArgs)
if continueArgs is not None:
    print()
    pprint(continueArgs[-1].json())
    print('\033[31m' + "Error. Please restart" + '\033[0m')

Collect Match data
    Target tier : MASTER I
    current MatchData -> 24212개:   8%|██████████▊                                                                                                                                   | 33/431 [42:20<7:44:50, 70.08s/it]]

In [24]:
continueArgs

(69,
 {'KR_5518077554',
  'KR_5483595785',
  'KR_5317664511',
  'KR_5421200370',
  'KR_5322698219',
  'KR_5495717424',
  'KR_5443436161',
  'KR_5419009388',
  'KR_5483162826',
  'KR_5545010623',
  'KR_5484145743',
  'KR_5513161563',
  'KR_5531023489',
  'KR_5406357139',
  'KR_5464788406',
  'KR_5412860270',
  'KR_5344110053',
  'KR_5527076091',
  'KR_5491250534',
  'KR_5460450898',
  'KR_5495190317',
  'KR_5521919458',
  'KR_5411034494',
  'KR_5546761555',
  'KR_5312834209',
  'KR_5544974407',
  'KR_5306681281',
  'KR_5387592900',
  'KR_5404304528',
  'KR_5473498530',
  'KR_5379276174',
  'KR_5390567906',
  'KR_5511301473',
  'KR_5446017966',
  'KR_5329654016',
  'KR_5507260450',
  'KR_5379073778',
  'KR_5373995818',
  'KR_5515235461',
  'KR_5408894495',
  'KR_5542124596',
  'KR_5358996996',
  'KR_5505723554',
  'KR_5502241966',
  'KR_5397850148',
  'KR_5497531459',
  'KR_5430157683',
  'KR_5437168980',
  'KR_5323877888',
  'KR_5489169705',
  'KR_5283387298',
  'KR_5317747000',
  'KR_5428663156',
  'KR_5543499381',
  'KR_5446301336',
  'KR_5309898324',
  'KR_5457320089',
  'KR_5452946304',
  'KR_5464968414',
  'KR_5322527243',
  'KR_5356676627',
  'KR_5451352163',
  'KR_5510937600',
  'KR_5501140085',
  'KR_5520960308',
  'KR_5454004231',
  'KR_5533572163',
  'KR_5440882180',
  'KR_5575711633',
  'KR_5516034825',
  'KR_5498299573',
  'KR_5426208615',
  'KR_5572553068',
  'KR_5283908111',
  'KR_5549063534',
  'KR_5488894677',
  'KR_5374845837',
  'KR_5518734931',
  'KR_5450348881',
  'KR_5308140920',
  'KR_5480672836',
  'KR_5324999421',
  'KR_5321525410',
  'KR_5472235896',
  'KR_5557086276',
  'KR_5472386983',
  'KR_5330057306',
  'KR_5469959100',
  'KR_5398074445',
  'KR_5418779187',
  'KR_5499453113',
  'KR_5504671561',
  'KR_5550553658',
  'KR_5503240433',
  'KR_5283368838',
  'KR_5455093520',
  'KR_5310291835',
  'KR_5554749305',
  'KR_5319817655',
  'KR_5385618518',
  'KR_5507495863',
  'KR_5506630160',
  'KR_5447075091',
  'KR_5419987223',
  'KR_5498459391',
  'KR_5486205160',
  'KR_5416375587',
  'KR_5486239103',
  'KR_5507668162',
  'KR_5553563728',
  'KR_5381697991',
  'KR_5281470915',
  'KR_5346623761',
  'KR_5417703629',
  'KR_5533317060',
  'KR_5533209728',
  'KR_5447370473',
  'KR_5456799493',
  'KR_5486155290',
  'KR_5490804050',
  'KR_5413048917',
  'KR_5458229586',
  'KR_5322273839',
  'KR_5498689649',
  'KR_5387003210',
  'KR_5283716141',
  'KR_5486540865',
  'KR_5464287449',
  'KR_5334066953',
  'KR_5403235932',
  'KR_5533828347',
  'KR_5441646064',
  'KR_5287256300',
  'KR_5392767332',
  'KR_5503673687',
  'KR_5527125775',
  'KR_5485974015',
  'KR_5511924436',
  'KR_5507267449',
  'KR_5480816076',
  'KR_5551093609',
  'KR_5426695054',
  'KR_5425113209',
  'KR_5413044849',
  'KR_5435287108',
  'KR_5513936899',
  'KR_5576246464',
  'KR_5497540083',
  'KR_5348078895',
  'KR_5446180141',
  'KR_5495062421',
  'KR_5515831426',
  'KR_5540862878',
  'KR_5337595385',
  'KR_5449907576',
  'KR_5450742826',
  'KR_5573796865',
  'KR_5411815438',
  'KR_5552360732',
  'KR_5475579876',
  'KR_5367248094',
  'KR_5569547667',
  'KR_5413745421',
  'KR_5371738186',
  'KR_5403247469',
  'KR_5470094879',
  'KR_5523194561',
  'KR_5484148845',
  'KR_5307469521',
  'KR_5367634018',
  'KR_5454863333',
  'KR_5469202393',
  'KR_5490366088',
  'KR_5477402801',
  'KR_5551423677',
  'KR_5529720769',
  'KR_5452295430',
  'KR_5343719093',
  'KR_5495641621',
  'KR_5361886710',
  'KR_5487618158',
  'KR_5531010036',
  'KR_5417722153',
  'KR_5451367463',
  'KR_5396192250',
  'KR_5379697070',
  'KR_5523231847',
  'KR_5411837403',
  'KR_5488404529',
  'KR_5300010064',
  'KR_5502987037',
  'KR_5375972823',
  'KR_5340281772',
  'KR_5486736112',
  'KR_5385030437',
  'KR_5403859871',
  'KR_5493520341',
  'KR_5437517354',
  'KR_5545817346',
  'KR_5421405068',
  'KR_5428548358',
  'KR_5490446862',
  'KR_5546085849',
  'KR_5469159659',
  'KR_5417347470',
  'KR_5533372010',
  'KR_5417628975',
  'KR_5395599457',
  'KR_5508751490',
  'KR_5443358395',
  'KR_5470497340',
  'KR_5428288853',
  'KR_5475631023',
  'KR_5441186500',
  'KR_5327769255',
  'KR_5367266132',
  'KR_5546069366',
  'KR_5389574841',
  'KR_5447629505',
  'KR_5456239548',
  'KR_5425808508',
  'KR_5539077269',
  'KR_5435771322',
  'KR_5285504032',
  'KR_5506364940',
  'KR_5549188441',
  'KR_5477805738',
  'KR_5387502505',
  'KR_5405438664',
  'KR_5449073662',
  'KR_5371383260',
  'KR_5425015449',
  'KR_5508821356',
  'KR_5412355496',
  'KR_5551713893',
  'KR_5340031681',
  'KR_5340535358',
  'KR_5390184241',
  'KR_5542815942',
  'KR_5473267741',
  'KR_5508692351',
  'KR_5588474436',
  'KR_5441444757',
  'KR_5449893952',
  'KR_5422958730',
  'KR_5463869354',
  'KR_5486029600',
  'KR_5440542371',
  'KR_5348271503',
  'KR_5452743632',
  'KR_5539563838',
  'KR_5288431687',
  'KR_5542511230',
  'KR_5281289847',
  'KR_5481964447',
  'KR_5351890784',
  'KR_5393937646',
  'KR_5464955878',
  'KR_5355863719',
  'KR_5374181100',
  'KR_5529441880',
  'KR_5515152400',
  'KR_5453085311',
  'KR_5477504013',
  'KR_5525867287',
  'KR_5370907649',
  'KR_5581478724',
  'KR_5451409609',
  'KR_5308004908',
  'KR_5533802435',
  'KR_5520364307',
  'KR_5465208579',
  'KR_5534043458',
  'KR_5544907390',
  'KR_5465577536',
  'KR_5449957691',
  'KR_5457388921',
  'KR_5465129804',
  'KR_5528041293',
  'KR_5511637278',
  'KR_5353670161',
  'KR_5405734208',
  'KR_5381136703',
  'KR_5508170135',
  'KR_5416566252',
  'KR_5501092969',
  'KR_5464831997',
  'KR_5289922664',
  'KR_5357209303',
  'KR_5419235424',
  'KR_5280025585',
  'KR_5315014690',
  'KR_5537454840',
  'KR_5556133625',
  'KR_5411112853',
  'KR_5499017142',
  'KR_5372957021',
  'KR_5417918547',
  'KR_5429405289',
  'KR_5379059635',
  'KR_5534990101',
  'KR_5477862386',
  'KR_5517248751',
  'KR_5455737652',
  'KR_5438560669',
  'KR_5496582403',
  'KR_5477667046',
  'KR_5522162815',
  'KR_5391820293',
  'KR_5471104958',
  'KR_5514781900',
  'KR_5341223614',
  'KR_5352558559',
  'KR_5428374431',
  'KR_5463640372',
  'KR_5495427881',
  'KR_5440131302',
  'KR_5469704199',
  'KR_5545015632',
  'KR_5529303127',
  'KR_5376148355',
  'KR_5421108337',
  'KR_5499146962',
  'KR_5403084148',
  'KR_5534690978',
  'KR_5284520577',
  'KR_5349971602',
  'KR_5536972411',
  'KR_5464681510',
  'KR_5455191823',
  'KR_5438525226',
  'KR_5445004868',
  'KR_5439509864',
  'KR_5530525234',
  'KR_5296707767',
  'KR_5340093145',
  'KR_5420024254',
  'KR_5517122901',
  'KR_5505649037',
  'KR_5446083955',
  'KR_5319742226',
  'KR_5368672806',
  'KR_5569327378',
  'KR_5334510396',
  'KR_5534863226',
  'KR_5389006474',
  'KR_5288384148',
  'KR_5483043897',
  'KR_5451587460',
  'KR_5284558345',
  'KR_5349647209',
  'KR_5289713149',
  'KR_5447708942',
  'KR_5372917399',
  'KR_5449675527',
  'KR_5442025957',
  'KR_5511178295',
  'KR_5425040905',
  'KR_5513346001',
  'KR_5515224881',
  'KR_5460066521',
  'KR_5326687257',
  'KR_5514870724',
  'KR_5505645779',
  'KR_5387692963',
  'KR_5330148450',
  'KR_5455319843',
  'KR_5505376332',
  'KR_5493475779',
  'KR_5557502856',
  'KR_5524906285',
  'KR_5510243136',
  'KR_5477632678',
  'KR_5367468400',
  'KR_5477414000',
  'KR_5551902784',
  'KR_5308463828',
  'KR_5371980963',
  'KR_5380687912',
  'KR_5322777061',
  'KR_5524934992',
  'KR_5363091860',
  'KR_5354880079',
  'KR_5418819390',
  'KR_5405973015',
  'KR_5527181441',
  'KR_5505040466',
  'KR_5396017223',
  'KR_5513871593',
  'KR_5328736838',
  'KR_5522370467',
  'KR_5432213270',
  'KR_5345931144',
  'KR_5384889964',
  'KR_5597710645',
  'KR_5410884735',
  'KR_5483497839',
  'KR_5456786081',
  'KR_5470094417',
  'KR_5511534444',
  'KR_5535589471',
  'KR_5446168831',
  'KR_5534433717',
  'KR_5404615479',
  'KR_5518610169',
  'KR_5400337507',
  'KR_5484796798',
  'KR_5497158533',
  'KR_5496790426',
  'KR_5465250246',
  'KR_5439515592',
  'KR_5358839962',
  'KR_5410949407',
  'KR_5548396387',
  'KR_5523486196',
  'KR_5449714822',
  'KR_5284738112',
  'KR_5449761730',
  'KR_5546296332',
  'KR_5540752037',
  'KR_5430323057',
  'KR_5432370547',
  'KR_5375854164',
  'KR_5334476868',
  'KR_5348217721',
  'KR_5559164042',
  'KR_5323492742',
  'KR_5470519718',
  'KR_5495626128',
  'KR_5509754982',
  'KR_5306168303',
  'KR_5508422598',
  'KR_5442077661',
  'KR_5508582220',
  'KR_5458015389',
  'KR_5497369327',
  'KR_5334162190',
  'KR_5498646996',
  'KR_5434681385',
  'KR_5513662896',
  'KR_5390189905',
  'KR_5401202369',
  'KR_5503018388',
  'KR_5595151915',
  'KR_5550044394',
  'KR_5345609677',
  'KR_5364634057',
  'KR_5497040604',
  'KR_5498452558',
  'KR_5407092761',
  'KR_5498137015',
  'KR_5470548346',
  'KR_5356020732',
  'KR_5428700474',
  'KR_5556097370',
  'KR_5523855713',
  'KR_5432304837',
  'KR_5397735124',
  'KR_5489897387',
  'KR_5404193542',
  'KR_5505417751',
  'KR_5367482726',
  'KR_5387882292',
  'KR_5397662561',
  'KR_5466981925',
  'KR_5288431000',
  'KR_5369689347',
  'KR_5498264321',
  'KR_5439796907',
  'KR_5421260659',
  'KR_5527950963',
  'KR_5480715267',
  'KR_5521215073',
  'KR_5456057431',
  'KR_5485834088',
  'KR_5519106552',
  'KR_5440542571',
  'KR_5290567915',
  'KR_5470677515',
  'KR_5554497662',
  'KR_5521972665',
  'KR_5498432162',
  'KR_5457147019',
  'KR_5518078118',
  'KR_5435976840',
  'KR_5362765656',
  'KR_5428474932',
  'KR_5529043407',
  'KR_5323387965',
  'KR_5371263837',
  'KR_5311615044',
  'KR_5511530963',
  'KR_5288096371',
  'KR_5504824174',
  'KR_5588947950',
  'KR_5478724108',
  'KR_5496789103',
  'KR_5388966677',
  'KR_5436710448',
  'KR_5460974264',
  'KR_5416226126',
  'KR_5500839985',
  'KR_5331962077',
  'KR_5284729953',
  'KR_5464490243',
  'KR_5530934192',
  'KR_5519364956',
  'KR_5486105671',
  'KR_5532004101',
  'KR_5404037968',
  'KR_5554316400',
  'KR_5290240792',
  'KR_5523418923',
  'KR_5465315939',
  'KR_5530340492',
  'KR_5360391785',
  'KR_5570269923',
  'KR_5372002847',
  'KR_5557180537',
  'KR_5474542253',
  'KR_5518396632',
  'KR_5547958322',
  'KR_5394457169',
  'KR_5512061961',
  'KR_5328450271',
  'KR_5502991423',
  'KR_5540738261',
  'KR_5375127680',
  'KR_5369643426',
  'KR_5573507174',
  'KR_5497383181',
  'KR_5491665529',
  'KR_5495612273',
  'KR_5472464078',
  'KR_5464047284',
  'KR_5546342037',
  'KR_5510160043',
  'KR_5448714398',
  'KR_5386438700',
  'KR_5468095355',
  'KR_5339009346',
  'KR_5419064792',
  'KR_5426108063',
  'KR_5477615921',
  'KR_5552613088',
  'KR_5542624789',
  'KR_5468324103',
  'KR_5550050362',
  'KR_5421093462',
  'KR_5414854422',
  'KR_5436299256',
  'KR_5540542765',
  'KR_5567974857',
  'KR_5432457564',
  'KR_5542431321',
  'KR_5295521000',
  'KR_5510089010',
  'KR_5282643306',
  'KR_5331906436',
  'KR_5453528714',
  'KR_5514866956',
  'KR_5498139650',
  'KR_5355813756',
  'KR_5483564188',
  'KR_5341563592',
  'KR_5353167291',
  'KR_5388771302',
  'KR_5498529174',
  'KR_5465195642',
  'KR_5517298180',
  'KR_5416925624',
  'KR_5422414028',
  'KR_5530893833',
  'KR_5437432389',
  'KR_5472163295',
  'KR_5542352806',
  'KR_5484160771',
  'KR_5343850525',
  'KR_5388194109',
  'KR_5449759912',
  'KR_5334573619',
  'KR_5401638286',
  'KR_5450045781',
  'KR_5402235168',
  'KR_5533753953',
  'KR_5288050235',
  'KR_5328572113',
  'KR_5442456644',
  'KR_5403186999',
  'KR_5357509010',
  'KR_5383117989',
  'KR_5480047697',
  'KR_5510639654',
  'KR_5427612707',
  'KR_5502790379',
  'KR_5331533579',
  'KR_5513788387',
  'KR_5366298411',
  'KR_5548517749',
  'KR_5329903559',
  'KR_5413835361',
  'KR_5532300681',
  'KR_5389032470',
  'KR_5330223194',
  'KR_5549382640',
  'KR_5337693209',
  'KR_5397682245',
  'KR_5433689820',
  'KR_5529224073',
  'KR_5466198469',
  'KR_5530420464',
  'KR_5434285203',
  'KR_5387500193',
  'KR_5486909067',
  'KR_5355474794',
  'KR_5439612915',
  'KR_5320052028',
  'KR_5442461787',
  'KR_5443689079',
  'KR_5519001275',
  'KR_5443580011',
  'KR_5385685347',
  'KR_5401627650',
  'KR_5566127843',
  'KR_5445252134',
  'KR_5529698986',
  'KR_5544414707',
  'KR_5419956264',
  'KR_5433320012',
  'KR_5416268768',
  'KR_5423844101',
  'KR_5505992376',
  'KR_5550085237',
  'KR_5390141358',
  'KR_5353069942',
  'KR_5339684256',
  'KR_5438321040',
  'KR_5405572068',
  'KR_5289849007',
  'KR_5398843912',
  'KR_5528037610',
  'KR_5402864227',
  'KR_5507178366',
  'KR_5453152683',
  'KR_5530609913',
  'KR_5449367249',
  'KR_5537221351',
  'KR_5333651245',
  'KR_5466024651',
  'KR_5296967544',
  'KR_5391979929',
  'KR_5456017689',
  'KR_5530597458',
  'KR_5447299232',
  'KR_5322560346',
  'KR_5524633198',
  'KR_5284512316',
  'KR_5509819392',
  'KR_5405321730',
  'KR_5297840376',
  'KR_5304261837',
  'KR_5497928369',
  'KR_5400034757',
  'KR_5379754554',
  'KR_5437406688',
  'KR_5547648111',
  'KR_5366211555',
  'KR_5435803680',
  'KR_5336173774',
  'KR_5414030065',
  'KR_5494767720',
  'KR_5491372340',
  'KR_5520812242',
  'KR_5514430822',
  'KR_5537051916',
  'KR_5516553683',
  'KR_5489492865',
  'KR_5342851398',
  'KR_5481930564',
  'KR_5397812317',
  'KR_5551830868',
  'KR_5447382781',
  'KR_5516006697',
  'KR_5393417183',
  'KR_5353210147',
  'KR_5556897152',
  'KR_5555508839',
  'KR_5499766040',
  'KR_5456423279',
  'KR_5562488800',
  'KR_5492132949',
  'KR_5491165748',
  'KR_5387568915',
  'KR_5546721633',
  'KR_5493011803',
  'KR_5417731419',
  'KR_5509725783',
  'KR_5453876318',
  'KR_5312999665',
  'KR_5443192778',
  'KR_5344993658',
  'KR_5293867403',
  'KR_5483865538',
  'KR_5477525439',
  'KR_5291015594',
  'KR_5442266308',
  'KR_5540641318',
  'KR_5493492476',
  'KR_5323584073',
  'KR_5530531473',
  'KR_5402815496',
  'KR_5474330058',
  'KR_5517035279',
  'KR_5404679221',
  'KR_5350403995',
  'KR_5402369132',
  'KR_5353191592',
  'KR_5342738656',
  'KR_5394972538',
  'KR_5508736229',
  'KR_5426495045',
  'KR_5436213145',
  'KR_5412146305',
  'KR_5535149260',
  'KR_5301398841',
  'KR_5570144812',
  'KR_5514842226',
  'KR_5442188129',
  'KR_5500795758',
  'KR_5502324438',
  'KR_5456452706',
  'KR_5532226088',
  'KR_5436099374',
  'KR_5427234672',
  'KR_5509787562',
  'KR_5300728936',
  'KR_5480788602',
  'KR_5517744636',
  'KR_5449855377',
  'KR_5413835603',
  'KR_5408502333',
  'KR_5439577208',
  'KR_5402010245',
  'KR_5416713916',
  'KR_5529493157',
  'KR_5532164429',
  'KR_5474250111',
  'KR_5305749366',
  'KR_5443965086',
  'KR_5516530622',
  'KR_5442888733',
  'KR_5436959678',
  'KR_5339011020',
  'KR_5545626130',
  'KR_5515231221',
  'KR_5442819380',
  'KR_5333303205',
  'KR_5350965265',
  'KR_5498748161',
  'KR_5432163083',
  'KR_5490227154',
  'KR_5439781571',
  'KR_5388352067',
  'KR_5541217207',
  'KR_5289450621',
  'KR_5481642556',
  'KR_5433085377',
  'KR_5464361464',
  'KR_5403035236',
  'KR_5449651236',
  'KR_5511454266',
  'KR_5500930099',
  'KR_5476501415',
  'KR_5437628568',
  'KR_5547072002',
  'KR_5494071245',
  'KR_5404690069',
  'KR_5532385485',
  'KR_5281171429',
  'KR_5487313182',
  'KR_5440047762',
  'KR_5491971486',
  'KR_5518753048',
  'KR_5495724394',
  'KR_5538289236',
  'KR_5532226961',
  'KR_5533659266',
  'KR_5510231076',
  'KR_5433602726',
  'KR_5436218666',
  'KR_5534733592',
  'KR_5452707387',
  'KR_5357929161',
  'KR_5461284532',
  'KR_5292809917',
  'KR_5499887063',
  'KR_5334674292',
  'KR_5519497009',
  'KR_5542748533',
  'KR_5453702521',
  'KR_5510821483',
  'KR_5327502806',
  'KR_5513413985',
  'KR_5470464488',
  'KR_5545584651',
  'KR_5478812754',
  'KR_5404751964',
  'KR_5452508614',
  'KR_5455183836',
  'KR_5549009706',
  'KR_5347768975',
  'KR_5492081011',
  'KR_5471756068',
  'KR_5566014391',
  'KR_5531857978',
  'KR_5284767887',
  'KR_5509908050',
  'KR_5520864686',
  'KR_5568006669',
  'KR_5555115645',
  'KR_5567612695',
  'KR_5492208772',
  'KR_5562556876',
  'KR_5546068106',
  'KR_5410740061',
  'KR_5481014148',
  'KR_5313993832',
  'KR_5382517189',
  'KR_5313047517',
  'KR_5507217745',
  'KR_5396781182',
  'KR_5498174097',
  'KR_5483499910',
  'KR_5493292705',
  'KR_5496665532',
  'KR_5506100672',
  'KR_5440133449',
  'KR_5373025318',
  'KR_5398874023',
  'KR_5336245755',
  'KR_5311588574',
  'KR_5554556416',
  'KR_5488504425',
  'KR_5360897881',
  'KR_5434830045',
  'KR_5417640720',
  'KR_5325031761',
  'KR_5542349175',
  'KR_5444544707',
  'KR_5391841574',
  'KR_5347866054',
  'KR_5535020905',
  'KR_5530611749',
  'KR_5452608334',
  'KR_5465103372',
  'KR_5394734676',
  'KR_5555630151',
  'KR_5348821605',
  'KR_5300261260',
  'KR_5442566509',
  'KR_5542547756',
  'KR_5295282757',
  'KR_5448569349',
  'KR_5509814650',
  'KR_5434318789',
  'KR_5350299990',
  'KR_5546060929',
  'KR_5555437774',
  'KR_5450600669',
  'KR_5308467173',
  'KR_5512789416',
  'KR_5474081007',
  'KR_5540684236',
  'KR_5521739956',
  'KR_5471732292',
  'KR_5500630453',
  'KR_5507340372',
  'KR_5368368930',
  'KR_5429960697',
  'KR_5447446747',
  'KR_5512552305',
  'KR_5347259481',
  'KR_5484275973',
  'KR_5511519543',
  'KR_5402304296',
  'KR_5559241448',
  'KR_5296361399',
  'KR_5460801959',
  'KR_5412899311',
  'KR_5453576696',
  'KR_5282762038',
  'KR_5385126096',
  'KR_5369922877',
  'KR_5469655959',
  'KR_5543541757',
  'KR_5559760136',
  'KR_5543277702',
  'KR_5454613288',
  'KR_5553539580',
  'KR_5470902459',
  'KR_5498373837',
  'KR_5394600172',
  'KR_5428647064',
  'KR_5464701775',
  'KR_5452804183',
  'KR_5467318324',
  'KR_5426267375',
  'KR_5495525962',
  'KR_5445504065',
  'KR_5526807679',
  'KR_5448306590',
  'KR_5490769595',
  'KR_5505691693',
  'KR_5547201719',
  'KR_5581982963',
  'KR_5444010747',
  'KR_5359381915',
  'KR_5569078284',
  'KR_5476707804',
  'KR_5470585998',
  'KR_5439825412',
  'KR_5347982297',
  'KR_5332012889',
  'KR_5530648780',
  'KR_5308905488',
  'KR_5476883749',
  'KR_5433717430',
  'KR_5508836752',
  'KR_5340102440',
  'KR_5411089334',
  'KR_5529056368',
  'KR_5533873721',
  'KR_5401195460',
  'KR_5468443144',
  'KR_5390519377',
  'KR_5546436808',
  'KR_5551847259',
  'KR_5380636963',
  'KR_5493364763',
  'KR_5335487612',
  'KR_5457240634',
  'KR_5365900326',
  'KR_5513178452',
  'KR_5441958212',
  'KR_5510103803',
  'KR_5380602206',
  'KR_5293150814',
  'KR_5363633428',
  'KR_5411828688',
  'KR_5303524908',
  'KR_5502209569',
  'KR_5347910544',
  'KR_5485041334',
  'KR_5458068086',
  'KR_5380272807',
  'KR_5441626325',
  'KR_5487777555',
  'KR_5508942569',
  'KR_5407093871',
  'KR_5471831587',
  'KR_5362834143',
  'KR_5491286641',
  'KR_5557258355',
  'KR_5533281171',
  'KR_5395406155',
  'KR_5428470275',
  'KR_5511883284',
  'KR_5314744977',
  'KR_5517156492',
  'KR_5446359471',
  'KR_5501673795',
  'KR_5281634683',
  'KR_5442603498',
  'KR_5456039120',
  'KR_5419245758',
  'KR_5548790269',
  'KR_5433506405',
  'KR_5470412654',
  'KR_5500799628',
  'KR_5555855713',
  'KR_5492822344',
  'KR_5491909648',
  'KR_5462062660',
  'KR_5512545831',
  'KR_5312629865',
  'KR_5412067045',
  'KR_5328498576',
  'KR_5548744798',
  'KR_5431967868',
  'KR_5280245775',
  'KR_5404171998',
  'KR_5514018276',
  'KR_5511867561',
  'KR_5474281277',
  'KR_5481868758',
  'KR_5416538071',
  'KR_5543665738',
  'KR_5556091776',
  'KR_5387693134',
  'KR_5503374840',
  ...},
 441,
 <Response [503]>)

In [25]:
matchDataDict.keys()

dict_keys(['11.23.409.111', '11.22.406.3587', '11.21.403.3002', '11.20.400.7328', '11.19.398.9466', '11.18.395.7538', '11.17.394.4489', '11.17.393.607', '11.16.390.1945', '11.15.389.2308', '11.15.388.2387', '11.14.385.9967', '11.14.384.6677', '11.13.382.1241', '11.19.398.2521', '11.15.387.5736'])

## 4. 저장

In [26]:
import json

file_name = f"{targetTier}_{targetDivision}_MatchData_{now.year}_{now.month}_{now.day}_{now.hour}h_{now.minute}m_{now.second}s.json"

with open(os.path.join(data_path, file_name), 'w') as fp:
    json.dump(matchDataDict, fp)